# === Java/Maven ===
target/
*.class
*.jar
*.war

# Сохраняем Maven Wrapper (его КАК РАЗ надо коммитить)
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar

# === IntelliJ IDEA ===
.idea/
*.iml
out/

# === VS Code (если вдруг пользуешься) ===
.vscode/

# === Логи и временные файлы ===
logs/
*.log
*.tmp
*.swp

# === ОС-мусор ===
.DS_Store
Thumbs.db

# === Docker ===
docker/postgres-data/

# === Секреты/конфиги локальные ===
.env
*.env
src/main/resources/application-prod.yml
src/main/resources/application-dev.yml